<button mat-raised-button routerLink="/users">
  <mat-icon>arrow_back</mat-icon> Back to list
</button>



<div style="display: flex;">
  <section *ngIf="user" style="margin: 0.5rem auto; ">
  
    <mat-card class="example-card" style="width: 400px;">      
      <div style="display: flex; justify-content: center;"><div style="border-radius: 100%; width: 200px;height: 200px;background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg'); background-size: cover;"></div>
    </div>
    <mat-card-header>
      <button mat-raised-button routerLink="/users/edit/{{user?.id}}" style="margin-left: 10px;">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
        <mat-card-title style="margin-left:10px ;">{{ user.name | titlecase }}</mat-card-title>
        <mat-card-subtitle style="margin-left: 1rem;">{{ user.department }}</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        
        <mat-list >
          <mat-list-item > <span style="display: flex; justify-content: space-between;"><span >Id </span><span>{{ user.id }} </span></span></mat-list-item>          
          <mat-divider></mat-divider>
          <mat-list-item> <span style="display: flex; justify-content: space-between;"><span >Name </span><span>{{ user.name }} </span></span></mat-list-item>          
          <mat-divider></mat-divider>
          <mat-list-item> <span style="display: flex; justify-content: space-between;"><span >E-mail </span><span>{{ user.email }} </span></span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span style="display: flex; justify-content: space-between;"><span >Tasks </span><span>{{ user.task }} </span></span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span style="display: flex; justify-content: space-between;"><span >Department </span><span>{{ user.department }} </span></span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span style="display: flex; justify-content: space-between;"><span >Salary </span><span>{{ user.salary }} </span></span></mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>
    
  </section>
</div>

